body {
  font-family: "Inter", sans-serif;
  background-color: #faf3e0;
  color: #525252;
  margin: 0;
  padding: 0;
}

/* Contenido */
.container {
  margin: 2rem auto;
  width: 80%;
  max-width: 700px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

p.subtitle {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  border: 1px solid #ffa143;
  border-radius: 5px;
  padding: 0.5rem;
}

form textarea {
  resize: none;
  height: 100px;
}

.stars {
  display: flex;
  gap: 0.5rem;
}

.stars .star {
  font-size: 2rem;
  cursor: pointer;
  color: #d3d3d3;
}

.stars .star.active {
  color: #ffd700;
}

button {
  background-color: #ffa143;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;
}
